<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>create room</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container text-center">
	        <div>
	            <h1>Here you can create a room!</h1>
	        </div>
	        <form th:action="@{/handle_room}" th:object="${room}"
	            method="post" style="max-width: 600px; margin: 0 auto;">
	        <div class="m-3">
	            <div class="form-group row">
	                <label class="col-4 col-form-label">Room name: </label>
	                <div class="col-8">
	                    <input type="text" class="form-control" required 
	                    	th:field="*{roomName}"	 minlength="2" maxlength="20"/>
	                </div>
	            </div>
	             
	            <div>
	                <button type="submit" class="btn btn-primary">create</button>
	            </div>
	        </div>
	        </form>
	    </div>	
	</body>
</html>